In [1]:
#print 0------20 by usig range

for  num in range(0,20):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [2]:
#print 10------20 by usig range

for  num in range(10,20):
    print(num)

10
11
12
13
14
15
16
17
18
19

In [11]:
#print no.of. items in the list
x=[10,20,14,55,43,87,76]
a=len(x)
print (" Number of item in the list = ",a)

 Number of item in the list =  7

In [28]:
name=['A','R','T','I','F','I','C','A','L','I','N','T','E','L','L','I','G','E','N','C','E']
for list in name:
    print(list)

A
R
T
I
F
I
C
A
L
I
N
T
E
L
L
I
G
E
N
C
E

In [2]:
Name=input("enter you name")
age=int(input("enter your age"))
profeff=input("enter your proffession")
print("Name = ",Name)
print("age = ",age)
print("profession = ",profeff)

enter you namevanchi
enter your age40
enter your proffessionhome maker
Name =  vanchi
age =  40
profession home maker

In [12]:
#odd number
x=[10,20,16,19,25,1,276,188]
print("odd Number")
for y in x:
    if(y%2!=0):
      print(y)

odd Number
19
25
1

In [10]:
#Evevn Number
x=[10,20,16,19,25,1,276,188]
print("even number")
for y in x:
    if(y%2 ==0):
      print(y)

even number
10
20
16
276
188

In [1]:
#print the mixed datatype
tuple=("1","welcome","2","Hope AI")
print(tuple)

('1', 'welcome', '2', 'Hope AI')